[Previous](https://github.com/314-grp-301/314-grp-301.github.io/blob/main/Assignments/11-Innovation-Showcase-Poster.md) - [Main Page](../Title.md) - [Next](https://github.com/314-grp-301/314-grp-301.github.io/blob/main/Assignments/13-Lessons-Learned.md)<br>
[Navigation](https://github.com/314-grp-301/314-grp-301.github.io/blob/main/docs/Navigation.md)<br><br>
# Team 301 System Verification Table
![image](https://github.com/314-grp-301/314-grp-301.github.io/assets/157048263/f1c6cb2e-8320-402f-9c43-c205428deb30)

*Note: Our verification table has been fully checked off and completed. Ignore the unverified connection for the humidity sensor to microcontroller* <br><br>
[Previous](https://github.com/314-grp-301/314-grp-301.github.io/blob/main/Assignments/11-Innovation-Showcase-Poster.md) - [Main Page](../Title.md) - [Next](https://github.com/314-grp-301/314-grp-301.github.io/blob/main/Assignments/13-Lessons-Learned.md)
